### Clojure ###
.clj-kondo/
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
.calva
.lsp
trace.edn
*.db
**/.DS_Store

# MacOS
**/.DS_Store

# Emacs temp files #
**/#*#
**/.#*
**/*~

# Shell nohup command output
nohup.out
